body{
    margin: 0;
    padding: 0;
    font-family: lato, sans-serif;
    color: #4a4a4a;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* min-height: 100vh; */
    /* overflow: hidden; */
}
#bg{
    background-image: url(WhatsApp\ Image\ 2022-10-03\ at\ 1.54.31\ PM.jpeg);
    filter: opacity(0.3);
    display: block;
    /* margin: 0 auto; */
    margin-bottom: 0.5cm;
    position: fixed;
    margin: 59px;
    position: absolute;
    top: 151px;
    /* right: 119px; */
    width: 675px;
    height: 710px;
    background-size: cover;
    background-position: center;
}
.page{
    width: 21cm;
    height: 29.7cm;
    padding: 1cm;
}
.photo{
    bottom: 60px;
    display: inline-block;
    position: relative;
    left: 668px;
    border: 3px solid black;
    color: black;
    font-size: 15px;
    text-align: center;
    /* display: flex; */
    /* justify-content: flex-end; */
    height: 121px;
    width: 113px;
}
form{
    position: relative;
    margin-top: 0em;
    border: 5px solid blue;
    height: 29.7cm;
    width: 21cm;
    
}
img{
    position: relative;
    bottom: 215px;
    margin: 10px;
    height: 120px;
    width: 120px;
    left: 10px;
}
h4{
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    margin-left: 135px;
}
h3{
    font-family: 'Rye', cursive;
    color: rgb(43, 75, 201);
    text-align: center;
    position: relative;
    bottom: 20px;
    font-size: 18px;
}
.regd{
    color: rgb(129, 4, 102);
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    position: relative;
    bottom: 170px;
}
p {
    text-align: center;
    font-size: 13px;
    font-weight: bolder;
    font-family: system-ui;
    color: black;
    position: relative;
    bottom: 185px;
}
.regd_no{
    border: 2px solid black;
    height: 22px;
    width: 293px;
    font-family: initial;
    position: relative;
    bottom: 285px;
    left: 489px;
    background-color: #c0ab70;
    color: black;
}
.heading{
    color: rgb(43, 75, 201);
    text-align: center;
    position: relative;
    bottom: 320px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bolder;
}
i{
    color: black;
    position: relative;
    bottom: 365px;
    font-family: auto;
}
table{
    position: relative;
    bottom: 340px;
    width: 753px;
    margin-left: 20px;
    margin-right: 20px;
}
tr{
    position: relative;
    padding: 3px;
    height: 32px;
}
input {
    background: none;
    border: none;
    display: flex;
    position: relative;
    left: 18px;
    width: 450px;
    height: 20px;
}
th {
    font-size: 15px;
    position: relative;
    text-align: left;
    width: 235px;
}
td{
    font-weight: bolder;
    position: relative;
}
.table_data{
    font-weight: bolder;
    position: relative;
    width: 230px;
}

.group_3{
    width: 200px;
    border: 1px solid;
}
.head{
    font-family: inherit;
    font-size: 15px;
    text-align: center;
    color: blue;
    position: relative;
    bottom: 170px;
    font-weight: bold;
}
.last_paragraph{
    text-align: center;
    position: relative;
    bottom: 355px;
}
.last_p{
    margin: 30px;
    text-align: justify;
    position: relative;
    bottom: 370px;
    font-size: 14px;
}
.signature{
    border: none;
    border-bottom: 2px solid black;
    width: 218px;
    position: relative;
    bottom: 380px;
    left: 540px;
}
.text_sign{
    text-align: right;
    color: blue;
    font-size: 14px;
    position: relative;
    bottom: 385px;
    right: 53px;
}
@page {
    size: A4;
    margin: 0;
  }
  
  @media print {
    .page {
      margin: 0;
      border: initial;
      border-radius: initial;
      width: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
    }
  }