body{
    /* margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px; */
    background-color: honeydew;
}
table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 0px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
table{
    width: 623px;
}
th{
    width: 50px;
    background-color: rgb(10, 58, 10);
    color: white;
    
}
td{
    background-color: bisque;
}
tr :nth-child(2){
    width: 200px;
}